/*admin/dashboard.php page*/
h3{
  text-transform: uppercase;
}
.containerdiv{
display: flex;
flex-direction: row;
margin-top: 100px;
}
.menu{
flex: 1;
width:20vw;
min-height: calc(100vh - 100px);
background: rgb(98, 41, 236);
}
.content{
width: 80vw;
}
.nav{
  padding-top: 0px;
  text-align: center;
}
#menu_category{
  margin: 0px;
  padding: 5px 0;
  background: slateblue;
}
.nav-item a{
  color: white;
}
.nav-item a:hover{
  color: black;
}
.nav-item a:focus{
  color: black;
}
.dashboard{
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  background-image: linear-gradient(to right,pink, turquoise);
}
.form-horizontal{
  padding: 30px 50px;
  background: white;
  box-shadow: 0px 3px 10px rgb(0, 0, 0.25);
}
.dashboard .group{
  width: 100%;
  position: relative;
  height: 50px;
  overflow: hidden;
}
.dashboard input{
  background: transparent;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  border: none;
  outline: none;
  font-size: 20px;
}
.dashboard label{
  text-decoration-style: none;
  position:absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid black;
  pointer-events: none;
  font-weight: normal;
}
.dashboard label::after {
  content: "";
  position:absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid rgb(0, 255, 132);
  transform:translateX(-100%);
  transition: transform 0.3s ease;
}
.content-name{
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}
.dashboard input:focus + .label-name .content-name,
.dashboard input:valid + .label-name .content-name{
  transform: translateY(-100%);
  font-size: 12px;
  color: rgb(0, 255, 132);
}
.dashboard input:focus + .label-name::after,
.dashboard input:valid + .label-name::after{
  transform: translatex(0%);
}
.file{
  margin: 5px auto;
}
.button{
  margin-top: 30px;
}
.submit-button{
  background-color: rgb(10, 154, 85);
  padding: 0.5em 2em;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}
.submit-button:hover{
  background-color: rgb(7, 126, 69);
  color: white;
  box-shadow: 0px 3px 10px rgb(0, 0, 0.25);
}
#logoutstyle{
  background: rgb(175, 31, 31);
  color: white;
}
/* styling for mobile friendly navigation */
.menu{
  transition: transform 0.3s ease;
}
.nav-button{
  position: absolute;
  top: 0;
  left: 0;
  display:none;
  cursor: pointer;
}
.line{
  height:3px;
  width:25px;
  margin:5px;
  background: #282828;
}
@media screen and (max-width: 768px){
  .menu{
    position: absolute;
    overflow-x: hidden;
    left:0;
    right:0;
    transform: translateX(-100%);
  }
  .dashboard{
    width:100vw;
  }
  .nav-button{
    display:block;
  }
}
.nav-active{
  transform: translateX(0%);
}
