body{
  background-color: rgb(236, 236, 236);
}
.header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: #282828; */
  background-image: linear-gradient(to right, navy , violet);
  color:white;
  height: 100px;
}
.header h3{
  margin: 0;
  padding-left: 20px;
}
.containerdiv{
  display:grid;
  margin-top: 0px;
  /* background-color: rgb(236, 236, 236); */
  /* border-top: 10px solid rgb(236, 236, 236); */
}
.media{
  padding: 20px;
  background: #282828;
  color: white;
}
.details{
  background: #282828;
  color: white;
}
.table{
  font-size: 1.2em;
  background: transparent;
  border: none;
}
.table-borderless tr td{
  border: none !important;
}
